body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 1em;
  background-color: blue;
  color: white;
}

footer {
  padding: 0.5em;
  background-color: blue;
  color: white;
  text-align: center;
}

main {
  flex-grow: 1;
  text-align: center;
  font-size: 32px;
}

.Item {
  display: flex;
  justify-content: space-between;

  background-color: rgb(202, 202, 202);
  margin: 1em;
  padding: 1em;

  font-size: 32px;

  list-style: none;
}

.Item input {
  height: 48px;
  width: 48px;

  cursor: pointer;
}

.Item label {
  justify-self: flex-start;
}

.Item label:focus {
  text-decoration: underline;
}

.Item svg {
  height: 48px;
  width: 48px;
  color: steelblue;
}

.Item svg:focus,
.Item svg:hover {
  color: red;
  scale: 1.05;
  cursor: pointer;
}

ul {
  padding: 0;
}

.AddItem {
  align-self: center;
  width: 85%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1em;
  border: solid black 1px;

  transition: transform 0.2s ease-in-out;
}

.AddItem:focus-within {
  transform: scale(1.05);
}

.AddItem input {
  flex-grow: 1;
  padding: 8px;
  height: 48px;
  font-size: 32px;

  border: none;
}

.AddItem input:focus {
  border: none;
}

.AddItem button {
  height: 48px;
  width: 48px;
  background: white;
  border: none;
  color: steelblue;

  cursor: pointer;
  font-size: 32px;
}

.AddItem button:hover {
  color: red;
}
